.contactPage {
    padding-top: 150px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 24px;
}

.header p {
    font-size: 1.125rem;
    color: var(--text-secondary);
}